@import 'normalize';
@import 'fonts';

body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
  background-color: #fafafa;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: Montserrat;
}
._container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
